// Define variables for your color scheme

// For example:
$red: #D78A76;
$blue: #577590;
$yellow: #F3CA40;
$orange: #F2A541;
$green: #52b788;
$dark-orange: #F08A4B;
$gray: #0E0000;
$light-gray: #F4F4F4;
