// Define variables for your color scheme

// For example:
$red: #D78A76;
$blue: #031926;
$yellow: #F3CA40;
$orange: #F2A541;
$green: #77ACA2;
$dark-orange: #F08A4B;
$gray: #0E0000;
$light-gray: #F4F4F4;

//New style: https://coolors.co/031926-468189-77aca2-9dbebb-f4e9cd

