// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxygen&display=swap');

// Define fonts for body and headers
$body-font: "Fira Sans", "Helvetica", "sans-serif"; // Helvetica, sans-serif are background fonts
$headers-font: "Oxygen", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Add Headings here?
$blue: #031926;

p {
  margin-top: 0;
  padding-top: 25px;
  margin-bottom: 1rem;
}

h1, {
    margin-bottom: 0.4rem;
    padding-top: 15px;
    font-weight: 500;
    line-height: 1.2;
    color: $blue;
    font-size: 2rem;
}

h2, {
    margin-bottom: 0.5rem;
    padding-top: 10px;
    font-weight: 450;
    line-height: 1.2;
    color: $blue;
    font-size: 1.5rem;
}
h3 {
    margin-bottom: 0.3rem;
    padding-top: 5px;
    font-weight: 400;
    line-height: 1.2;
    color: $blue;
    font-size: 1rem;
}
