// Specific CSS for your home-page

.picture_backround{

background-image: image-url("carina-baumgartner-XTwukUIkLl8-unsplash.jpg");
height: 100%;
background-position: right 50% bottom 50%;
background-repeat: no-repeat;
background-size: cover;

}

html, body {
  height: 100%;

}


a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}


.btn-ghost {
  color: #4A4A4A;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background: white;
}

.btn-ghost:hover {
  opacity: 1;
}

.container{
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
}


p {
  margin-top: 0;
  padding-top: 25px;
  margin-bottom: 1rem;
}

h1 {
    margin-bottom: 0.5rem;
    padding-top: 15px;
    font-weight: 500;
    line-height: 1.2;
    color: $blue;
    font-size: 2rem;
}

.logo {
  height: 100px;
  margin-top: 10px;
}
