// Specific CSS for your home-page

.picture_backround{

background-image: image-url("carina-baumgartner-XTwukUIkLl8-unsplash.jpg");
height: 100%;
background-position: right 50% bottom 50%;
background-repeat: no-repeat;
background-size: cover;

}

html, body {
  height: 100%;

}


a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.container{
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  i {
    color: $gray;
  }
}


p {
  margin-top: 0;
  padding-top: 25px;
  margin-bottom: 1rem;
}

h1 {
    margin-bottom: 0.5rem;
    padding-top: 15px;
    font-weight: 500;
    line-height: 1.2;
    color: $blue;
    font-size: 2rem;
}

.logo {
  height: 100px;
  margin-top: 10px;
}
