// .profile_info {
//   h3 {
//     padding-top: 25px;
//     text-align: center;
//     position: fixed;
//     right: 0;
//     left: 0;
//   }
//   a {
//     padding-top: 20px;
//     i .fas .fa-pencil-alt {
//     padding-top: 20px;
//     position: relative;
//     right: -80px;
//   }
//   }
// }


.container .profile {
  height: 70vh;
  padding-top: 20px;
  .btn-outline {
  }
}


.edit-profile-icon {
  position: relative;
  left: -10px;
  top: -10px;
}
