
<div class="blue-backround">

  <%= image_tag "bike-01.png", alt: "bike", class: 'bike-image' %>

  <h1 class="text-center">Whats the Problem?</h1>

  <div class="mt-3 mx-5 px-3">
  <%= render "shared/form" %>
  </div>


</div>
