
<div class="blue-backround">

  <%= image_tag "bike-01.png", alt: "bike", class: 'bike-image' %>

  <h1 class="text-center">What would you like to report?</h1>

  <%= render "shared/form" %>

</div>
