<div class="container-main">

<h1 style="white-space: nowrap; font-size: 1.7rem;"> What's the Problem? </h1>

<%= render "shared/form", problem: @problem %>
<!-- key value pair to keep dry the problem iv. The form doesnt have a direct connection to the controller  -->

</div>
<!-- <div class="blue-background">
 -->
