
<h1>Whats the Problem?</h1>

<%= render "shared/form", problem: @problem %>
<!-- key value pair to keep dry the problem iv. The form doesnt have a direct connection to the controller  -->
=======

<div class="blue-backround">
