<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Category: <%= @problem.category %></h2>
      <p>Description: <%= @problem.description.capitalize %></p>
    <p>Location: <%= @problem.location.capitalize %></p>
    <p>Date: <%= @problem.date %></p>
    </div>
  </div>
</div>
