
<div>

<div class="problem_header">
<h1><%= @problem.category %></h1></div>
<br>
<h2 class="problem_description"><%= @problem.description %></h2>

<h3 class="problem_info"><%= @problem.location %></h3>
<h3 class="problem_info"><%= @problem.date %></h3>

</div>
