
<div class="picture_backround">


  <h1>Welcome back <%= %>!</h1>
  <p>What's in your mind?</p>


  <button> <%= link_to 'Add a problem', new_problem_path %></button>
  <button> <%= link_to 'My Card', problems_path %></button>
  <button> <%= link_to 'My Contributions', problems_path %></button>
  <button>About</button>

</div>

