<h1>My Profile</h1>

<div class="container">
  <%= current_user.first_name.capitalize %>
  <%= current_user.last_name.capitalize%>
  <%= current_user.username %>


  <%= link_to "Change my password", edit_user_registration_path %>
</div>
