.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.pop-up {
  color: #000;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #000;
  font-weight: bold;
  background: #fff;
  margin: 0;
}
.content {
  display: inline-block;
}
.content-title{
font-size:10px;
padding: 2px;
margin: 0;

}
.content-text{
font-size:8px;
margin: 5px;
line-height: normal;
padding: 0;
}
