// normal buttons that get a coloured line when you hover over it
.form-actions{
  color: #031926;
  background: #9DBEBB;;
  padding: 10px 24px;
  border-radius: 5px;
  border: 3px solid #031926;
  font-weight: lighter;
  margin: auto;
  text-align: center;
}

.btn-outline {
  color: #4A4A4A;
  padding: 10px 24px;
  border-radius: 5px;
  border: 3px solid #031926;
  font-weight: lighter;
  background: white;
  width: 230px;
  margin: 0; // we can change it if needed to set px left,margin-right: 10px, up, bottom.
}

// hover on mobile here works if user clicks on field to fill in.
.btn-outline:hover {
  border: 3px solid #031926;
}

// submit button that change colour completely -> NO on mobile hover does not work on clicking buttons!
.btn-submit {
  color: #031926;
  background: #9DBEBB;;
  padding: 10px 24px;
  border-radius: 5px;
  border: 3px solid #031926;
  font-weight: lighter;
  width: 230px;
  margin: auto; // we can change it if needed to set px left,right, up, bottom.
}

.btn-homepage-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:active, &:focus, &:hover {
    border: 3px solid #031926;
  }
  .fas {padding-right: 5px;
  }
}

.btn-requests-menu {
  color: #031926;
  background: $white;
  padding: 12px 4px;
  border-radius: 5px;
  border: 3px solid #031926;
  font-weight: lighter;
  font-size: 1.1rem;
  width: 230px;
  margin: 10px 10px 10px 10px; // we can change it if needed to set px left,right, up, bottom.
  &:active, &:focus, &:hover{
    color: #031926;
    background: #9DBEBB;
    border: 3px solid #031926;
  }
}

.btn-requests-menu-active{
    color: #031926;
    background: #9DBEBB;
    border: 3px solid #031926;
}
