.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.card-product img {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 20px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  // margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 1px;
  padding-left: 20px;
  height: 100%;
}

.cards {
  padding: 10px; // we have overal marging so ok for now

}

.card-product-description {
  padding-top: 5px;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-product-adress {
  padding-top: 5px;
  font-style: italic;
}

.cards-dash {
  margin-bottom: 35px;
}

.far.fa-star {
  content: "\f005";
  position: absolute;
  right: 30px;
  top: 207px;
}
