.mapboxgl-ctrl-top-right {
  width: 100%;
  padding: 20px;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin: 0;
}


.mapboxgl-popup-content {
  transform: scale(1.5);
  bottom: 27px;
  padding: 3px 3px 3px 3px;
  border-radius: 6px;
}

.pop-up {
  i {
    position:relative!important;
    right:0!important;
    top:0!important;
  }
}
